:root {
  --color-primary: #212121;
  --color-accent: #F44336;
  --color-background: #FFF;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

* {
  transform-origin: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--color-background);
}

.clock {
  width: 60vmin;
  height: 60vmin;
  color: var(--color-primary);
  fill: currentColor;
  transform-origin: 50px 50px;
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.clock line {
  stroke: currentColor;
  stroke-linecap: round;
}

.marks {
  opacity: 0.5;
  stroke-width: 0.5px;
}

.mark-1 { transform: rotate(30deg); }
.mark-2 { transform: rotate(60deg); }
.mark-3 { transform: rotate(90deg); }
.mark-4 { transform: rotate(120deg); }
.mark-5 { transform: rotate(150deg); }
.mark-6 { transform: rotate(180deg); }
.mark-7 { transform: rotate(210deg); }
.mark-8 { transform: rotate(240deg); }
.mark-9 { transform: rotate(270deg); }
.mark-10 { transform: rotate(300deg); }
.mark-11 { transform: rotate(330deg); }
.mark-12 { transform: rotate(360deg); }

.hand {
  stroke-width: 1.5px;
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hand-second {
  color: var(--color-accent);
  stroke-width: 1px;
}